body{
    background-image: url(pexels-photo-268533.jpeg), url(pexels-photo-757889.jpeg);
    background-position: center center, center center;
    background-size: 80px, 200px;
    background-repeat: no-repeat no-repeat;
}