table{
    border-style: solid;
    border-color: rgba(70, 67, 67, 0.83);
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border-style: solid;
    border-color: rgba(70, 67, 67, 0.83);
    height: 70px;
}